/* title */
.title-area .headline {
  font-size: 64px;
  line-height: 71px;
  letter-spacing: -0.64px;
  margin-bottom: 20px;
  font-weight: bold;
}
.title-area p {
  display: inline;
  vertical-align: middle;
  padding-right: 30px;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.44px;
  font-weight: bold;
}
.link-more {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  letter-spacing: -0.36px;
}
.link-more:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #000;
}
.btn-clear {
  position: relative;
  margin-top: 42px;
  top: auto;
  right: auto;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.24px;
}
.btn-clear:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: #000;
}
/* sc-visual */
.sc-visual {
  position: relative;
}
.sc-visual .video-area {
  position: relative;
  height: 544px;
}
.sc-visual .video-area .video-item {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.sc-visual .text-area {
  position: absolute;
  text-align: center;
  display: flex;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
}
.sc-visual .text-area .title {
  overflow: hidden;
  font-size: 100px;
  line-height: 1.2;
  letter-spacing: -2.4px;
  font-weight: 800;
  white-space: nowrap;
  color: #fff;
  opacity: 0;
  width: 0%;
  text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.16);
  transition: opacity 0.5s 0.3s, width 0.5s 0.3s;
}
.sc-visual .swiper-slide-active .text-area .title {
  opacity: 1;
  width: 100%;
}
/* sc-search */
.sc-search {
  position: absolute;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  color: #000;
  z-index: 5;
}
.sc-search .search-area {
  background: #fff;
  position: relative;
}
.sc-search .search-box {
  display: flex;
  align-items: center;
  flex: 1;
}
.sc-search form {
  display: flex;
}
.sc-search .search-area .ico-search {
  display: flex;
  align-items: center;
  margin: 0 28px 0 21px;
  background-position: -245px -40px;
  width: 18px;
  height: 18px;
}
.sc-search .search-area label {
  margin-right: 9px;
  white-space: nowrap;
  color: #000;
}
.sc-search .input-box,
.sc-search .search-box {
  position: relative;
  display: flex;
  flex: 1;
  font-size: 14px;
  align-items: center;
  font-weight: bold;
}

.sc-search .input-box input {
  flex: 1;
  padding-right: 20px;
  font-size: 14px;
  font-weight: bold;
  height: 54px;
  line-height: 54px;
  font-family: "NanumSquare", "나눔스퀘어", "돋움", dotum, arial, sans-serif;
}
.sc-search .select-unit {
  position: relative;
  width: 100%;
  padding: 0 25px 0 9px;
  font-size: 14px;
  font-weight: bold;
  line-height: 54px;
  letter-spacing: -0.3px;
  text-align: left;
  color: #d0d0d0;
  cursor: pointer;
  background-image: url(../images/ico_arrow_down.png);
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: 8px 5px;
}
.sc-search .select-unit option {
  color: #000;
  font-weight: normal;
  padding: 0px 2px 1px;
}
.sc-search .select-unit option:disabled {
  display: none;
}
.sc-search .search-area .btn-search {
  width: 97px;
  height: 54px;
  line-height: 54px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
}
.sc-search .search-area .btn-search:hover {
  background-color: #16ef72;
  color: #000;
}

/* sc-team */
.sc-team {
  position: relative;
  padding-bottom: 89px;
  background: #fafafa;
}
.sc-team .inner {
  padding: 126px 104px 0;
  color: #000;
}
.sc-team .team-list {
  margin-top: 70px;
}
.sc-team .team-list .inner {
  padding: 0 104px;
}
.sc-team .team-list li:hover {
  background: #ebebeb;
  color: #000;
}
x .sc-team .team-list li a {
  display: flex;
  align-items: center;
}
.sc-team .team-list li h3 {
  font-size: 38px;
  line-height: 60px;
  letter-spacing: -0.34px;
  font-weight: normal;
  flex: 1 0 50%;
}
.sc-team .team-list li .count {
  position: relative;
  vertical-align: top;
  top: -13px;
  margin-left: 18px;
  font-size: 15px;
  letter-spacing: -0.3px;
}
.sc-team .team-list li .count:before {
  content: "";
  position: absolute;
  top: -1px;
  right: -14px;
  background-position: -176px -105px;
  width: 9px;
  height: 9px;
}
.sc-team .team-list li p {
  padding: 20px 0 20px 15px;
  font-size: 22px;
  line-height: 60px;
  letter-spacing: -0.44px;
  flex: 1 0 50%;
}
/* sc-people */
.sc-people {
  padding: 95px 0 0;
}
.sc-people .swiper {
  overflow: visible;
  margin-top: 60px;
  padding-bottom: 68px;
}
.sc-people .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.sc-people .swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sc-people .img-wrap {
  position: relative;
  padding-bottom: 47.403%;
}
.sc-people .link-more {
  margin-top: 4px;
}
/* swiper navi button */
.swiper .button-wrap {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  gap: 7px;
}
.swiper .button-wrap [class*="btn"] {
  height: 32px;
  width: 33px;
}
.swiper .button-wrap .btn.prev {
  background-position: -187px -172px;
}
.swiper .button-wrap .btn.next {
  background-position: -113px -172px;
}
.swiper .button-wrap .swiper-button-disabled {
  opacity: 0.5;
}
/* swiper contents */
.swiper .text-wrap {
  margin-top: 29px;
  word-break: keep-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.swiper .text-wrap .title {
  display: inline;
  padding-right: 26px;
  line-height: 36px;
  font-size: 25px;
  letter-spacing: -0.5px;
  font-weight: bold;
}
.swiper .text-wrap .text {
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.36px;
  color: #000;
}
.swiper .sm-text {
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.28px;
  color: #000;
  font-family: "NanumSquare", "나눔스퀘어", "돋움", dotum, arial, sans-serif;
}
.swiper .sm-text span + span {
  position: relative;
  margin-left: 12px;
}
.swiper .sm-text span + span:before {
  content: "";
  position: absolute;
  left: -8px;
  top: 4px;
  width: 1px;
  height: 10px;
  background-color: #000;
}
/* sc-benefits */
.sc-benefits {
  padding: 112px 0 0;
}
.sc-benefits .swiper {
  margin: 55px 0 0;
  overflow: hidden;
  padding-bottom: 68px;
}
/* sc-apply */
.sc-apply {
  padding: 95px 0 102px;
}
.sc-apply .title-area .headline {
  font-size: 25px;
  line-height: 32px;
  letter-spacing: -0.25px;
  color: #000;
}
.link-apply {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.36px;
  color: #000;
  font-family: "NanumSquare", "나눔스퀘어", "돋움", dotum, arial, sans-serif;
}
.ico-link-out {
  display: inline-block;
  vertical-align: middle;
  margin-left: 11px;
  background-position: -76px -172px;
  width: 32px;
  height: 32px;
  width: 33px;
}
.sc-search .search-area2 {
  display: none;
}

@media (max-width: 1230px) {
  .text-wrap .text br {
    display: none;
  }
  .sc-visual .text-area .title {
    font-size: 80px;
  }
}

@media (max-width: 1024px) {
  .sc-visual .text-area .title {
    font-size: 60px;
  }
  .sc-team .inner {
    padding: 126px 22px 0;
  }
  .sc-team .team-list .inner {
    padding: 0 22px;
  }
}
@media (max-width: 767px) {
  .hidden {
    display: block;
  }
  .title-area .headline {
    margin-bottom: 11px;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -0.7px;
  }
  .title-area p {
    padding-right: 20px;
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.32px;
  }
  .link-more {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.24px;
  }
  .link-more:before {
    bottom: 2px;
  }
  .sc-visual .video-area {
    padding-bottom: 62.4%;
    height: auto;
  }
  .sc-visual .text-area .title {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.8px;
    transition: opacity 0.5s 0.5s;
  }
  .sc-search {
    position: initial;
    transform: initial;
    padding-top: 22px;
  }
  .sc-search .search-area {
    display: none;
  }
  .sc-search .search-area2 {
    position: relative;
    display: block;
    background-color: #ebebeb;
    border-bottom: 0;
  }
  .sc-search .search-area2 .btn-search2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.28px;
    color: #696868;
    font-weight: bold;
    box-sizing: border-box;
  }
  .sc-search .search-area2 .ico-search {
    display: flex;
    background-position: -140px -125px;
    width: 19px;
    height: 19px;
  }
  /* pop-search */
  .sc-search .search-area2 .pop-search {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 100;
    overflow-y: auto;
    padding: 60px 32px;
  }
  .sc-search form {
    display: inherit;
  }
  .search-area2 .pop-search.on {
    display: block;
  }
  .pop-search label:before {
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border: 1px solid #d0d0d0;
    display: inline-block;
    border-radius: 50%;
  }
  .pop-search input[type="checkbox"]:checked + label:before {
    background: #000;
  }
  .pop-search .input-box {
    position: relative;
    border-bottom: 1px solid #d0d0d0;
  }
  .pop-search .input-box input {
    border: none;
    line-height: 26px;
    letter-spacing: -0.28px;
    text-align: left;
    width: 100%;
    height: auto;
    padding: 6px 30px 6px 0;
    font-size: 14px;
  }
  .pop-search .input-box .btn-search {
    position: absolute;
    height: 42px;
    top: 0;
    right: 0;
    padding: 8px 0;
  }
  .pop-search .input-box .ico-search {
    display: block;
    background-position: -268px -40px;
    width: 15px;
    height: 15px;
  }
  .pop-search .depth2-list.on,
  .pop-search .depth3-list.on {
    display: none;
  }
  .pop-search .filter-box {
    margin-top: 45px;
  }
  .pop-search .filter-box .ico-arrow {
    position: absolute;
    top: 9px;
    left: 2px;
    background-position: -136px -93px;
    width: 8px;
    height: 5px;
  }
  .pop-search .filter-title {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.28px;
  }
  .pop-search .depth1-list {
    margin-top: 8px;
  }
  .pop-search .depth1-item {
    position: relative;
    margin-top: 14px;
    padding-left: 19px;
    line-height: 26px;
    letter-spacing: -0.28px;
  }
  .pop-search .on .ico-arrow {
    transform: rotate(180deg);
  }
  .pop-search .depth3-item {
    line-height: 26px;
    letter-spacing: -0.28px;
    margin-top: 14px;
  }
  .pop-search .depth2-list {
    margin-top: 14px;
  }
  .pop-search .depth2-item {
    position: relative;
    margin-top: 14px;
  }
  .pop-search .depth2-item.child {
    padding-left: 20px;
  }
  .pop-search .filter-item {
    margin-top: 14px;
  }
  .pop-search .btn-close {
    position: absolute;
    top: 24px;
    left: 22px;
    background-position: -110px -28px;
    width: 14px;
    height: 14px;
  }
  /* sc-team */
  .sc-team {
    padding-bottom: 50px;
  }
  .sc-team .team-list {
    margin-top: 29px;
  }
  .sc-team .team-list .inner {
    padding: 16px 22px;
  }
  .sc-team .team-list li h3 {
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -0.48px;
  }
  .sc-team .team-list li .count {
    margin: 4px 0 0 14px;
    top: 0;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.28px;
  }
  .sc-team .team-list li .count:before {
    top: 1px;
    background-position: -129px -28px;
    width: 11px;
    height: 11px;
  }
  .sc-team .team-list li p {
    margin-top: 1px;
    width: 100%;
    padding: 0;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.32px;
  }
  /* sc-people */
  .sc-people {
    padding: 68px 0 56px;
  }

  .sc-people .swiper {
    margin-top: 25px;
    padding-bottom: 46px;
  }
  .sc-people .img-wrap {
    padding-bottom: 100%;
  }
  .swiper .text-wrap {
    margin-top: 21px;
  }
  .swiper .text-wrap .title {
    padding-right: 20px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.36px;
  }
  .sc-people .link-more {
    display: none;
  }
  .swiper .button-wrap [class*="btn"] {
    width: 30px;
    height: 30px;
  }
  .swiper .button-wrap .btn.prev {
    background-position: -165px -70px;
  }
  .swiper .button-wrap .btn.next {
    background-position: -35px -90px;
  }
  .sc-benefits {
    padding: 0;
  }
  .sc-benefits .swiper {
    margin: 25px 0 0;
    padding-bottom: 46px;
  }
  .swiper .text-wrap .text {
    margin-top: 3px;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: -0.28px;
  }
  .sc-apply {
    padding: 71px 0 99px;
  }
  .sc-apply .title-area .headline {
    font-size: 20px;
    line-height: 34px;
    letter-spacing: -0.4px;
    margin-bottom: 16px;
  }
  .link-apply {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.32px;
  }
  .ico-link-out {
    margin: -1px 0 0 10px;
    background-position: 0px -90px;
    width: 30px;
    height: 30px;
    width: 31px;
    height: 31px;
  }
}
